* {
  font-family: "Baloo Thambi 2", cursive;
}

.about-container-align {
  align-items: center;
  text-align: center;
}

.about-text {
  font-weight: bolder;
  font-size: 1.1rem;
}

.section-title {
  text-align: center;
}

.docs-container-align {
  align-items: center;
  font-weight: bolder;
  text-align: center;
}

.example-img {
  border-radius: 15px;
}
